{
    "log" : {
      "loglevel": "info"
    },
    "inbounds": [{
      "port": 80,
      "protocol": "vmess",
      "settings": {
        "clients": [{
          "id": "[CF_UUID]", "alterId": 0
        }]
      },
      "streamSettings": {
        "network": "ws",
        "wsSettings": { "path": "/filesync/[CF_UUID]/v2ray/ws/vmess" },
        "sockopt": { "tcpFastOpen": true }
      }
    }, {
      "port": 280,
      "protocol": "vmess",
      "settings": {
        "clients": [{
          "id": "[CF_UUID]", "alterId": 0
        }]
      },
      "streamSettings": {
        "network": "http",
        "httpSettings": {
          "host": ["[CF_HOST]"],
          "path": "/filesync/[CF_UUID]/v2ray/h2/vmess"
        },
        "sockopt": { "tcpFastOpen": true }
      }
    }],
    "outbounds": [{
      "protocol": "freedom",
      "settings": {}
    }]
  }
